<%= form_tag coupons_path do %>
    <h1>Coupon Form</h1>
        <label for="store">Store:</label>
        <%= text_field_tag :store %>
        <br>
        <label for="coupon_code">Coupon_Code:</label>
        <%= text_field_tag :coupon_code %>
        <br>
        <%= submit_tag "Submit Coupon" %>
    <% end %>